
/*==== home page register form styling=====*/

.Registraion.form  form {
  display: flex;
  align-items: center;
  background-color: #0622c5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


/* ====== Registration form , register pageSTYLING ====== */
/*== This has three class names: Register, page, and form.====*/

.Register.page.form form

{
 align-items: center;
  background-color: #0624cc;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}